<style type="text/css">
body{
background-color:#C6E7FF;
}

a{
text-decoration:none;
}

.normal_link{
color:#000000;
}

.nav_link{
color:#ffffff;
}

#container{
margin:auto;
min-width:400px;
width:70%;
}

#header{
background-color:#C6E7FF;
}

#site_links{
background-color:#000000;
color:#ffffff;
padding: 1% 1% 1% 1%;
}

#page_links{
background-color:#000000;
color:#ffffff;
padding: 1% 1% 1% 1%;
}

#search{
background-color:#ffffff;
}

#search_form{
padding: 1% 1% 1% 1%;
}

#search_box{
font-size:150%;
width:40%;
}

#search_button{
font-size:150%;
}

#results_for{
background-color:#000000;
color:#ffffff;
margin: 1% 0% 0% 0%;
padding: 1% 1% 1% 1%;
}

#index_post{
background-color:#ffffff;
padding: 1% 1% 3% 1%;
width:50%;
}

#index_image{
width:40%;
}

#view_box{
background-color:#ffffff;
width:60%;
}

#view_title{
background-color:#000000;
color:#ffffff;
padding: 0% 1% 0% 1%;
}

#view_content{
padding: 0% 1% 0% 1%;
}

#view_image{
width:50%;
}

#hidden{
display:none;
}

.plus_one{
padding: 1% 1% 1% 1%;
}

#post_too{
background-color:#000000;
color:#ffffff;
text-align:center;
}

#deeds_related{
background-color:#ffffff;
text-align:center;
width:100%;
}

#deeds_related_title{
background-color:#000000;
color:#ffffff;
}

#internal_links{
float:left;
width:100%;
}

#deeds_most_viewed{
background-color:#ffffff;
float:left;
margin: 1% 1% 1% 0%;
text-align:center;
width:49%;
}

#most_viewed_title{
background-color:#000000;
color:#ffffff;
}

#deeds_most_recent{
background-color:#ffffff;
float:left;
margin: 1% 0% 1% 1%;
text-align:center;
width:49%;
}

#most_recent_title{
background-color:#000000;
color:#ffffff;
}

#footer{
background-color:#000000;
color:#ffffff;
float:left;
text-align:center;
width:100%;
}

/*
html{
width:100%;
}

#main_body{
background-image:url("http://localhost/donevirtual.com/images/bg.png");
background-repeat:repeat-x;
background-color:#ffffff;
color:#000000;
font-family:'lucida console', monospace;
min-width:500px;
margin:auto;
width:100%;
}

#statements_body{
background-image:url("http://localhost/donevirtual.com/images/statements_bg2.png");
background-repeat:repeat-x;
background-color:#ffffff;
color:#000000;
font-family:'lucida console', monospace;
min-width:500px;
margin:auto;
width:100%;
}

a{
color:#000000;
text-decoration:none;
}a:hover{
color:#B200FF;
}

input{
padding:1% 1% 1% 1%;
}

#header{
padding:1% 1% 1% 1%;
text-align:center;
}

#search_box{
width:40%;
}

#social{
padding:2% 0% 2% 0%;
}

#content{
width:100%;
text-align:center;
margin:auto;
padding:0% 0% 1% 0%;
}

#search_form{
padding:1% 1% 1% 1%;
text-align:center;
}

#plus_box{
width:50px;
height:50px;
margin:2%;
}

#post_too{
}

#submit{
padding:5%;
}

#view_box{
background-color:#CECECE;
padding:1% 1% 1% 1%;
margin:auto;
}

#view_image{
width:30%;
}

#links{
background-color:#CECECE;

width:100%;
}

.deed_form{
margin:auto;
padding:1% 1% 1% 1%;
}

#index_image{

width:40%;
height:20%;
padding:1% 1% 1% 1%;
}

.error{
color:red;
}

#one{
display:none;
}

#index_post{
/*background-image:url("http://localhost/donevirtual.com/images/circles.png");
background-repeat:no-repeat;
background-color:#CECECE;

padding:1% 1% 1% 1%;
margin:auto;
width:50%;
}

#footer{
clear:both;
padding:1% 1% 1% 1%;
text-align:center;
}
*/
</style>